* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
  background: #e3e2df;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

h1 {
  color: white;
}

h3 {
  display: inline;
  font-weight: lighter;
  color: #24305E;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
}

btn:hover {
  background: #666;
}
